/* coolors pallet 
4E86A7//78,134,167
224357 
EFE9F4 
2C3130//168,10%,19% 
5863F8//236,65%,97%*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  width: 100%;
}
h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.marketing-contact-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #224357;
}
.marketing-contact-banner .marketing-contact-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.marketing-contact-banner .marketing-contact-nav div,
.marketing-contact-banner .marketing-contact-nav a {
  width: 23%;
  background-color: #224357;
  color: #EFE9F4;
  text-align: center;
  text-decoration: none;
  font-size: large;
  padding: 1% 0;
  border-radius: 10px;
  font-size: 1.5rem;
  padding: 1%;
  font-family: 'Montserrat';
}
.marketing-contact-banner .marketing-contact-nav div:hover,
.marketing-contact-banner .marketing-contact-nav a:hover {
  color: #a583c1;
  background-color: #224357;
}
@media (max-width: 860px) {
  .marketing-contact-banner .marketing-contact-nav a {
    display: none;
  }
  .marketing-contact-banner .marketing-contact-nav i {
    font-size: 2rem;
  }
}
.marketing-sticky-nav {
  position: sticky;
  top: 0;
}
@media (max-width: 500px) {
  .marketing-sticky-nav {
    position: static;
  }
}
.marketing-sticky-nav .marketing-nav-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: rgba(78, 134, 167, 0.8);
  padding: 1% 0;
}
@media (max-width: 860px) {
  .marketing-sticky-nav .marketing-nav-container {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
}
.marketing-sticky-nav .marketing-nav-container h1 {
  color: #EFE9F4;
}
@media (max-width: 500px) {
  .marketing-sticky-nav .marketing-nav-container h1 {
    width: 100%;
    flex-direction: column;
    text-align: center;
    border-bottom: 2px solid white;
    margin: 1% 0;
    padding-bottom: 1%;
  }
}
.marketing-sticky-nav .marketing-nav-container nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
}
@media (max-width: 860px) {
  .marketing-sticky-nav .marketing-nav-container nav {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .marketing-sticky-nav .marketing-nav-container nav {
    width: 100%;
    flex-direction: column;
    text-align: center;
    border-bottom: 1px dashed white;
  }
}
.marketing-sticky-nav .marketing-nav-container nav a {
  width: 18%;
  background-color: transparent;
  color: #EFE9F4;
  text-align: center;
  text-decoration: none;
  font-size: large;
  padding: 1% 0;
  border-radius: 10px;
  margin: 0 2%;
  font-family: 'Lato';
}
.marketing-sticky-nav .marketing-nav-container nav a:hover {
  color: #24172e;
}
@media (max-width: 500px) {
  .marketing-sticky-nav .marketing-nav-container nav a {
    width: 100%;
    flex-direction: column;
    text-align: center;
    border-bottom: 1px dashed white;
  }
}
.marketing-banner-background {
  background-image: url("../img/projects-img.jpeg");
  max-width: 100%;
  background-color: #cccccc;
  /* Used if the image is unavailable */
  height: 500px;
  /* You must set a specified height */
  background-position: top;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  display: flex;
  justify-content: center;
  align-items: center;
}
.marketing-banner-background .marketing-banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: rgba(88, 99, 248, 0.7);
  padding: 2%;
}
.marketing-banner-background .marketing-banner-container h2 {
  font-family: 'Montserrat';
  color: #EFE9F4;
  padding: 1% 5% ;
  border-bottom: 2px solid #2C3130;
}
.marketing-banner-background .marketing-banner-container button {
  width: 25%;
  background-color: rgba(88, 99, 248, 0.7);
  color: #EFE9F4;
  text-align: center;
  text-decoration: none;
  font-size: large;
  padding: 1% 0;
  border-radius: 10px;
  border-color: #EFE9F4;
  margin-top: 1.5%;
}
.marketing-banner-background .marketing-banner-container button:hover {
  background-color: rgba(7, 19, 176, 0.7);
}
@media (max-width: 500px) {
  .marketing-banner-background .marketing-banner-container button {
    width: 50%;
  }
}
.marketing-middle-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.marketing-middle-cards h2 {
  width: 65%;
  font-family: 'Montserrat';
  text-align: center;
  border-bottom: 2px solid #2C3130;
  padding-top: 3%;
  margin-bottom: 1%;
}
.marketing-middle-cards .marketing-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 85%;
  padding: 2%;
  background-color: #7179ee;
}
.marketing-middle-cards .marketing-card-container .marketing-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: large;
  text-align: center;
  width: 26%;
  margin: 4% 2%;
  border: 1px dashed black;
}
@media (max-width: 500px) {
  .marketing-middle-cards .marketing-card-container .marketing-card {
    width: 45%;
  }
}
.marketing-middle-cards .marketing-card-container .marketing-card .fa {
  font-size: 6rem;
}
.marketing-middle-cards .marketing-card-container .marketing-card button {
  width: 60%;
  background-color: #7179ee;
  color: #EFE9F4;
  text-align: center;
  text-decoration: none;
  font-size: large;
  padding: 1% 0;
  border-radius: 10px;
  border: none;
  border-radius: 5px;
}
.marketing-middle-cards .marketing-card-container .marketing-card button:hover {
  background-color: #724a94;
}
.marketing-middle-cards .marketing-card-container .marketing-card * {
  padding: 2%;
  margin: 2% 0;
}
.marketing-page-width-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.marketing-page-width-container .marketing-closing-paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 85%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 3%;
  margin: 2% 0;
}
.marketing-page-width-container .marketing-closing-paragraph button {
  width: 40%;
  background-color: rgba(88, 99, 248, 0.7);
  color: #EFE9F4;
  text-align: center;
  text-decoration: none;
  font-size: large;
  padding: 1% 0;
  border-radius: 10px;
}
.marketing-page-width-container .marketing-closing-paragraph button:hover {
  background-color: rgba(7, 19, 176, 0.7);
}
.marketing-page-width-container .marketing-closing-paragraph * {
  margin: 2% 0;
}
.marketing-bottom-copyright {
  width: 100%;
  background-color: #2C3130;
  text-align: center;
  color: #EFE9F4;
  padding: 1%;
  font-size: 1.5rem;
}
.marketing-aboutus-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1% 0;
  margin: 1%;
  border-bottom: 2px solid black;
}
.marketing-aboutus-intro h1 {
  font-family: 'Montserrat';
  text-decoration: underline;
}
.marketing-aboutus-intro p {
  text-align: center;
  font-family: 'Lato';
}
.marketing-aboutus-intro * {
  margin: 1%;
}
.aboutus-cards-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.aboutus-cards-container .aboutus-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 1%;
  background-color: #5863F8;
}
@media (max-width: 860px) {
  .aboutus-cards-container .aboutus-card {
    width: 85%;
  }
}
@media (max-width: 500px) {
  .aboutus-cards-container .aboutus-card {
    width: 95%;
  }
}
.aboutus-cards-container .aboutus-card .about-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
}
.aboutus-cards-container .aboutus-card .about-img-box img {
  width: 70%;
  margin-bottom: 1%;
}
@media (max-width: 500px) {
  .aboutus-cards-container .aboutus-card .about-img-box img {
    width: 100%;
  }
}
.aboutus-cards-container .aboutus-card .about-img-box .about-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  font-size: 2.5rem;
  border-top: 2px dashed black;
  border-bottom: 2px dashed black;
}
.aboutus-cards-container .aboutus-card .about-img-box .about-icons i {
  color: white;
}
.aboutus-cards-container .aboutus-card .about-img-box .about-icons i:hover {
  color: #b3b3b3;
}
.aboutus-cards-container .aboutus-card .about-img-box .about-icons a {
  margin: 2%;
}
@media (max-width: 500px) {
  .aboutus-cards-container .aboutus-card .about-img-box .about-icons {
    width: 100%;
    font-size: 2rem;
  }
}
.aboutus-cards-container .aboutus-card .about-card-text {
  width: 68%;
  border-top: 2px dashed black;
  border-bottom: 2px dashed black;
  color: #EFE9F4;
}
.aboutus-cards-container .aboutus-card .about-card-text h2 {
  font-family: 'Montserrat';
  text-decoration: underline;
}
.aboutus-cards-container .aboutus-card .about-card-text h3 {
  font-size: 1.8rem;
  font-family: 'Lato';
  text-decoration: underline;
}
.aboutus-cards-container .aboutus-card .about-card-text p {
  font-family: 'Lato';
}
.aboutus-cards-container .aboutus-card .about-card-text * {
  margin: 5% 0;
}
.aboutus-cards-container .aboutus-card * {
  margin: 2%;
}
.aboutus-cards-container .about-reverse {
  flex-direction: row-reverse;
}
.about-contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.about-contact-container .about-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 1%;
  margin: 1%;
}
.about-contact-container .about-contact .about-contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.about-contact-container .about-contact .about-contact-form label {
  width: 70%;
  font-size: 1.5rem;
}
.about-contact-container .about-contact .about-contact-form input {
  width: 70%;
  font-size: 1.5rem;
  margin: 2%;
  padding: 1%;
}
.about-contact-container .about-contact .about-contact-form textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  margin: 1%;
}
@media (max-width: 500px) {
  .about-contact-container .about-contact .about-contact-form textarea {
    height: 100px;
  }
}
